<!DOCTYPE html>

<html>

<head>
    <title>About</title>
    <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <div class="main-content">
        {{>header}}
        <div class="row">

            <div class="column">
                <img class="landscape" src="/img/Sneha.jpg">
            </div>
            <div class="column">
                <h2>Sneha Ravi</h2>
                <p>
                    <h3>Full Stack Web Developer</h3>
                </p>
                <p>Web development is my passion, I have diverse set of skills like, Nodejs, AngularJS Java, HTML, CSS,
                    MongoDB, Front end and Back end Developement. </p>
            </div>
        </div>
    </div>

    {{>footer}}
</body>

</html>