<!DOCTYPE html>

<html>

<head>
    <title>Help</title>
    <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <div class="main-content">
        <form action="mailto:snehaunki@gmail.com" method="post" enctype="text/plain">

            {{>header}}
            <h3>{{help}}</h3>
            <p>Please be free to contact me with any kind of issue related to this application.</p>
            <p>Please do send mail by clicking on the below button.</p>
            <button alt="Submit" id="email"> Email Us</button>

        </form>
    </div>
    {{>footer}}
</body>

</html>