<!DOCTYPE html>

<html>

<head>
    <title>Weather</title>
    <link rel="shortcut icon" href="">
    <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body class="responsive">
    <div class="main-content">
        {{>header}}

        <p>Use this site to get your weather!</p>
        <form>
            <input placeholder="location">
            
            <button id='search'>Search</button> <br><br>

            <h3><label id="location" visible = "false">Location : <label id = msg1> </label></label>
            
            <label id="temp" visible = "false">Temprature : <label id = msg2> </label></label>
            <label id="humid" visible = "false">Humidity : <label id = msg3> </label></label>
            <label id="wind" visible = "false">Wind Speed : <label id = msg6> </label></label>
            <label id="rain" visible = "false">Rain : <label id = msg4> </label></label>
            <label id="summury" visible = "false">Summury : <label id = msg5> </label></label> 
            </h3>
        </form>
        
    </div>

    {{>footer}}

    <script src="/js/app.js"></script>

</body>

</html>