<header>
    <div class="container">
        <img src="/img/weatherlogo.jpg">
        <div class="text-block">
            <a href="/">Weather</a>
            <a href="/about">About</a>
            <a href="/help">Help</a>
        </div>

    </div>


</header>